body {
    background-color: #323643 !important;
}

h1 {
    height: 100px;
    text-align: center;
    padding-top: 20px;
    border: solid #606470 2px;
    color: #93deff;
}

#searchBtn {
    width: 100px;
    margin-top: 10px;
    border: solid #606470 2px;
    background-color: #93deff;
    color: #323643;
}

h5 {
    color: #93deff;
}

.cards {
    margin-top: 10px;
    padding: 5px;
    border: solid #606470 2px;
}

h3 {
    color: #93deff;
}

.weathercard {
    color: #93deff;
    background-color: #606470;
    width: 200px;
    padding-left: 5px;
}

.recents {
    margin-top: 10px;
    padding: 5px;
    border: solid #606470 2px;
}